/* FONTS */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
}

h1 {
    padding-bottom: 0%;
}

h2 {
    padding-top: 0%;
}
p, ul {
	font-family: 'Merriweather', serif;
    line-height: 180%;
    text-align: justify;
}


/* GRID */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.35%;
}

.span_6_of_8 {
  	width: 74.7%;
}

.span_5_of_8 {
  	width: 62.05%;
}

.span_4_of_8 {
  	width: 49.4%;
}

.span_3_of_8 {
  	width: 36.75%;
}

.span_2_of_8 {
  	width: 24.1%;
}

.span_1_of_8 {
  	width: 11.45%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}


 /* NAV */

.site-logo {
    zoom: 75%:
}

 nav.main-nav {
   position:fixed;
   background-color:#FFFFFF;
   top: 0;
   left: 0;
   z-index: 9999;
   width: 100%;
   margin: 0 auto;
   display:table;
   overflow:hidden;
   border-bottom:3px solid #000000;
 }
  nav.main-nav ul {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
 }
  nav.main-nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 30px;
   vertical-align:middle;
   text-align: center;
 }

  nav.main-nav ul > li > a {
   color:#070D4C;
   text-decoration: none;
 }

nav.main-nav ul > li > a:hover {
   color:#50CDD3;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
 }

   nav.main-nav .menu {
      margin-left:auto;
      margin-right:auto;
   }


@media (max-width: 736px) {
   .nomobile {
   display:none;
   visibility: hidden;
   }

   nav.main-nav {
   display:none;
   }
    
/* MOBILE NAV */
   .header-mobile {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 8px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 9999;
   }
 
   .header-mobile ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #FFFFFF;
     text-align: center;
     
   }
 
   .header-mobile li a {
     display: block;
     padding: 20px 20px;
     border-right: 1px solid #50CDD3;
     text-decoration: none;
     text-align:center;
     color: #070D4C;
   }
 
   .header-mobile li a:hover {
     background-color: #50CDD3;
     color: #FFFFFF;
   }
 
   .header-mobile .logo {
     display: block;
     float: left;
     font-size: 2em;
     padding: 10px 20px;
     text-decoration: none;
       zoom: 55%;
   }
 
   .header-mobile .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
   }


   .header-mobile .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: right;
     padding: 28px 35px;
     position: relative;
     user-select: none;
   }
 
   .header-mobile .menu-icon .navicon {
     background: #070D4C;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
   }
 
   .header-mobile .menu-icon .navicon:before,
   .header-mobile .menu-icon .navicon:after {
     background: #070D4C;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
   }
 
   .header-mobile .menu-icon .navicon:before {
     top: 5px;
   }
    
   .header-mobile .menu-icon .navicon:after {
     top: -5px;
   }
   /* ANIMATED NAV BUTTON */

   .header-mobile .menu-btn {
     display: none;
   }
    
   .header-mobile .menu-btn:checked ~ .menu {
     max-height: 240px;
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon .navicon {
     background: transparent;
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon .navicon:before {
     transform: rotate(-45deg);
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon .navicon:after {
     transform: rotate(45deg);
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
     top: 0;
   }


 } 
 
 
 /* ABOUT PAGE */

.about {
    padding-top: 12%;
    margin: 0%;
}

.about ul {
    list-style-type: none;
    font-family: "Open Sans";
}

.about ul a {
    text-decoration: none;
    color: #50CDD3;
}

.separate {
       border-bottom:3px solid;
        border-bottom-color: #496787;
}

.about h1 {
    margin: 0%;
}
.bio p {
    zoom: 70%;
    line-height: 250%;
}
.bio img {
    padding-top: 10%;  
}

.bio h2 {
    line-height: 150%;
    text-align: center;
}

.bio {
    padding-top: 10%;
    padding-bottom: 8%;
}

.email-link {
    text-decoration: none;
    color: #E91E63;
}

/* FOOTER */

.footer {
  background-color: #2a2a2a;
  color: #FFFFFF;
  margin: 0%;
}

.copyright {
    padding-top: 2%;
    zoom: 70%;
    margin-bottom: 0%;
}

.footer ul {
    text-align: center;
    margin-bottom: 0%;
}

.footer ul#extlinks li {
  display: inline-block;
  opacity: 1;
  zoom: 45%;
  margin: 0%;
  padding-right: 5%;
}

.center {
    text-align: center;
}


.center {
    text-align: center;
}

/* MENU */

@media only screen and (max-width: 736px) {
        
    .about, .about ul, .bio {
       text-align: center;
    }
    
    .about {
        padding-top: 20%;
    }
    
    .about ul li {
        text-align: center;
        padding-right: 10%;
    }
    
    .summary {
        padding-top: 12%;
        width: 80%;
        text-align: left;
    }
    
    .tile {
        zoom: 80%;
        padding-bottom: 2%;
        display: block;
    }
    .work {
        zoom: 50%;
    }
    
    .bio {
        width: 90%;
        padding-left: 3%;
    }
    
    .bio h2 {
        zoom: 80%;
    }

    
    .filler-space, .logo {
        display: none;
    }
    
    .projects img {
        zoom: 80%;
        padding-top: 8%;
    }
    
    
    .contact {
        zoom: 50%;
        padding-left: 0%;
    }
    
    .footer {
        text-align: center;
    }
    
}


@media only screen and (min-width: 641px) {
    
    .header-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1275px) {

  #photo {
    height: 30rem;
  }
}