/* FONTS */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
}

h1 {
    padding-bottom: 0%;
}

h2 {
    padding-top: 0%;
}
p, ul {
	font-family: 'Merriweather', serif;
    line-height: 180%;
    text-align: justify;
}


/* GRID */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.2%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.35%;
}

.span_6_of_8 {
  	width: 74.7%;
}

.span_5_of_8 {
  	width: 62.05%;
}

.span_4_of_8 {
  	width: 49.4%;
}

.span_3_of_8 {
  	width: 36.75%;
}

.span_2_of_8 {
  	width: 24.1%;
}

.span_1_of_8 {
  	width: 11.45%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}

 /* NAV */

.site-logo {
    zoom: 75%;
}

 nav.main-nav {
   position:fixed;
   background-color:#FFFFFF;
   top: 0;
   left: 0;
   z-index: 999;
   width: 100%;
   margin: 0 auto;
   display:table;
   overflow:visible;
   border-bottom:3px solid #000000;
 }
  nav.main-nav ul {
   text-align: center;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
 }
  nav.main-nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 30px;
   vertical-align:middle;
   text-align: center;
 }

  nav.main-nav ul > li > a {
   color:#2a2a2a;
   text-decoration: none;
 }

nav.main-nav ul > li > a:hover {
   color:#50CDD3;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   font-style: normal;
 }

   nav.main-nav .menu {
      margin-left:auto;
      margin-right:auto;
   }


@media (max-width: 736px) {
   .nomobile {
   display:none;
   visibility: hidden;
   }

   nav.main-nav {
   display:none;
   }
    
/* MOBILE NAV */
   .header-mobile {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 8px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 9999;
   }
 
   .header-mobile ul {
     margin: 0;
     padding: 0;
     list-style: none;
     overflow: hidden;
     background-color: #FFFFFF;
     text-align: center;
     
   }
 
   .header-mobile li a {
     display: block;
     padding: 20px 20px;
     border-right: 1px solid #50CDD3;
     text-decoration: none;
     text-align:center;
     color: #2a2a2a;
   }
 
   .header-mobile li a:hover {
     background-color: #50CDD3;
     color: #FFFFFF;
   }
 
   .header-mobile .logo {
     display: block;
     float: left;
     font-size: 2em;
     padding: 10px 20px;
     text-decoration: none;
     zoom: 55%;
   }
 
   .header-mobile .menu {
     clear: both;
     max-height: 0;
     transition: max-height .2s ease-out;
   }


   .header-mobile .menu-icon {
     cursor: pointer;
     display: inline-block;
     float: right;
     padding: 28px 35px;
     position: relative;
     user-select: none;
   }
 
   .header-mobile .menu-icon .navicon {
     background: #070D4C;
     display: block;
     height: 2px;
     position: relative;
     transition: background .2s ease-out;
     width: 18px;
   }
 
   .header-mobile .menu-icon .navicon:before,
   .header-mobile .menu-icon .navicon:after {
     background: #070D4C;
     content: '';
     display: block;
     height: 100%;
     position: absolute;
     transition: all .2s ease-out;
     width: 100%;
   }
 
   .header-mobile .menu-icon .navicon:before {
     top: 5px;
   }
    
   .header-mobile .menu-icon .navicon:after {
     top: -5px;
   }
   /* ANIMATED NAV BUTTON */

   .header-mobile .menu-btn {
     display: none;
   }
    
   .header-mobile .menu-btn:checked ~ .menu {
     max-height: 240px;
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon .navicon {
     background: transparent;
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon .navicon:before {
     transform: rotate(-45deg);
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon .navicon:after {
     transform: rotate(45deg);
   }
    
   .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
   .header-mobile .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
     top: 0;
   }


 } 


/* HEADER */

.header {
   padding-top: 15%;
   background-image: url('../images/HappyTails/5Main%20Banner%20Project@0.75x.jpg');
   background-position: top left;
   background-size: cover;
   background-attachment: fixed;
   height: 30rem;
   margin: 0;
}

.header h2 {
    text-align: center;
    margin-bottom: -6%;
    color: #ffffff;
}

.header img {
    zoom: 30%;
    margin: 0%;
}

.explanation {
    margin: 0;
    padding-top: 5%;
    padding-bottom: 7%;
}

/* OBJECTIVE */

.overview {
    margin-bottom: -3%;
}

.objective p {
    width: 90%;
}


/* PROBLEM */

.problem {
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: #E2F6FD;
    margin: 0;
}

.bold {
    font-size: 150%;
    font-weight: 400;
    color: #FF5252;
}

.problem p, .solution ul {
    line-height: 250%;
}

/* USER RESEARCH */

.user-research {
    margin-bottom: 0%;
    padding-top: 8%;
    margin: 0;
}

.user-research h1, .solution h1, .results h1, .conclusion h1 {
    padding-bottom: 2%;
    border-bottom: #E2F6FD 2px solid;
}

#shop, #task {
    zoom: 55%;
}

#importance, #splurge, #rate1, #rate2 {
    zoom: 60%;
    padding-top: 10%;
}

#factors {
    zoom: 80%;
    padding-left: 8%;
}

#convenience, #struggles, #feedback {
    zoom: 60%;
    padding-left: 8%;
}

.swot {
    zoom: 85%;
}


.findingnumber {
    color: #01BEF0;
    font-size: 120%;
    font-weight: 800;
    border-radius: 15%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    text-align: center;
}

/* PRODUCT GOAL */

.product-goal {
    background-color: #01BEF0;
    color: #FFFFFF;
    line-height: 225%;
    padding-top: 0%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 0%;
    margin-bottom: 3%;
    margin: 0;
}

.product-goal h3 {
    font-style: italic;
}

/* SOLUTION */

.solution {
    padding-top: 8%;
    margin: 0;
}

.bold2 {
    font-size: 115%;
    font-weight: 400;
    color: #01BEF0;
}

#sitemap{
    zoom: 55%;
}

#userflow{
    zoom: 65%;
    padding-left: 15%;
    padding-top: 5%;
} 

#sketch {
    zoom: 30%;
}

.lofi {
    zoom: 48%;
}

.hifi {
    zoom: 55%;
}
.hifi2 {
    zoom: 70%;
}



.bg1 {
   width: 100%;
   background-image: url('../images/HappyTails/BackgroundHiFi1.jpg');
   background-position: top left;
   background-size: cover;
   background-attachment: fixed;
   height: 45rem; 
    margin: 0;
}


.bg2 {
   width: 100%;
   background-image: url('../images/HappyTails/BackgroundHiFi2.jpg');
   background-position: top left;
   background-size: cover;
   background-attachment: fixed;
   height: 35rem; 
    margin: 0;
}

.color {
    padding-top: 3%;
}

/* RESULTS */

.results {
    padding-top: 8%;
    margin-top: 0%;
    margin: 0;
}

/* CONCLUSION */

.conclusion {
    padding-top: 8%;
    padding-bottom: 10%;
    margin: 0;
}

/* BUTTONS AND DROPDOWNS */

.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  background-color: #496787;
  opacity: 1;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 4px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.dropbtn {
    background-color: #496787;
    color: #FFFFFF;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    color: #070D4C;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #2a2a2a;
    color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2a2a2a;
}

/* NAV BOTTOM */

.project-nav {
    padding-top: 5%;
    padding-bottom: 3%;
    text-align: center;
}

.project-link {
    text-decoration: none;
    color: #000000;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 120%;
}

.prev {
    color: lightgrey;
}

.proj {
    color: #50CDD3;
}


/* FOOTER */

.footer {
  background-color: #2a2a2a;
  color: #FFFFFF;
  margin: 0%;
}

.copyright {
    padding-top: 2%;
    zoom: 70%;
    margin-bottom: 0%;
}

.footer ul {
    text-align: center;
    margin-bottom: 0%;
}

.footer ul#extlinks li {
  display: inline-block;
  opacity: 1;
  zoom: 45%;
  margin: 0%;
  padding-right: 5%;
}

.center {
    text-align: center;
}

/* MENU */

@media only screen and (max-width: 736px) {
    
    body {
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .filler-space, .logo {
        display: none;
    }
    
    #shop {
    zoom: 40%;
}
    
.survey {
    zoom: 55%;
        
    }    
#importance, #splurge {
    zoom: 45%;
    padding-top: 10%;
}

#factors {
    zoom: 70%;
    padding-left: 8%;
}

#convenience, #struggles {
    zoom: 55%;
    padding-left: 8%;
}

.swot {
    zoom: 55%;
}

#sitemap{
    zoom: 20%;
}

#userflow{
    zoom: 30%;
    padding-left: 15%;
    padding-top: 5%;
} 

#sketch {
    zoom: 30%;
}

.lofi {
    zoom: 28%;
}

.hifi {
    zoom: 20%;
}
.hifi2 {
    zoom: 20%;
}
    
.bg1, .bg2 {
        height: 20rem;
}

.color {
        zoom: 45%;
}
    
.bottom-nav {
       zoom: 80%;
}
    
 .footer {
        text-align: center;
    }
        
}


@media only screen and (min-width: 641px) {
    
    .header-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1275px) {

  #photo {
    height: 30rem;
  }
}
